<mat-nav-list>
      <div class="profile">
          <h1>Leo</h1>
          <h2>leo@gmail.com</h2>
      </div>
      <div class="profile">
          
      </div>
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">

      <mat-divider></mat-divider>
      <h2 matSubheader>Pages</h2>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/">DashBoard</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

      <mat-divider></mat-divider>
      <h2 matSubheader>Tools</h2>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <i class="material-icons">chrome_reader_mode</i>
       <span class="arrange"> Contacts</span>
      </a>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <i class="material-icons">record_voice_over</i>
       <span class="arrange"> Leads</span>
      </a>

</mat-nav-list>
